@import url('https://fonts.googleapis.com/css?family=Poppins:400,600');


// Body
$body-bg: #fff;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$MainColor: #30323D;
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$mainTextColor: #43425D;

$white: #ffffff;
$whiteMuted: rgba(255,255,255,50%);
$MainColor: #30323D;
$SecondColor: #49516f;
$BackgroundColor: #F0F0F7;
$PrimaryColor: #5e72e4;
$WarningColor: #FCA311;
$SuccessColor: #2dce89;
$DangerColor: #e3342f;
$MutedColor: #8898aa;

$InputBackgroundColor: #e6e6e6;


//HOVERS
$btn_hover: #564154;

//Layout
$sideNavWidth: 280px;
