
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

//Button styles
@import 'components/buttons';

// Reset styles
body{
	font-family: 'Nunito', sans-serif;
	font-size: 15px;
	background: #F0F0F7;
}
a{
	text-decoration: none;
	color: black;
}
input{
	border: none;
	background: transparent;
}
//Typography
h1{
	font-size: 2em;
	font-weight: 600;
	letter-spacing: 1px;
	color: $mainTextColor;
}
h2{
	font-size: 1.25em;
	font-weight: 400;
	color: $mainTextColor;
}
h3{
	font-size: 1.05em;
	letter-spacing: 1px;
	color: $mainTextColor;
}
p{
    font-weight: 300;
    line-height: 1.7;
    font-size: 1.125em;
    margin-bottom: 1rem;
    font-weight: lighter;
    color: $mainTextColor;
/*    max-width: 75%;*/
}

//links
.link
{
	text-decoration: none;
	color: $PrimaryColor;
	&:hover{
		border-bottom: $PrimaryColor;
	}
}

//layout styles
.flex-inline{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
} //set display to row flex
.flex-column{
	display: flex;
	flex-direction: column;
	justify-content: center;
} //set display to column flex
.centeredH{ margin: 0 auto; } //center element horizontally
.width-full{ width: 100% !important; } //full width element
.vertical-align {vertical-align: middle;}
//Form controls

$input-border-focus: transparent;

.form-control, .swal2-input, .swal2-select{
	font-size: 1rem;
    line-height: 1.5;
    display: block;
    width: 100%;
    height: calc(2.75rem + 2px);
    padding: .625rem .75rem;
    transition: all .15s cubic-bezier(.68,-.55,.265,1.55);
    color: #8898aa;
    border: none;
    font-weight: lighter;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: transparent;
    background-clip: padding-box;
    transition-duration: 0.45s;
    &:focus{
    	outline: none;
    	border-color: #5e72e4;
    	box-shadow:none;
    }
}
select{
	width: 100%;
}

.loginContainer
{
	height: 100vh;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

//Content align
.content
{
	position: absolute;
	margin: 0 auto;
	top: calc(5% + 4rem);
	width: calc(99% - #{$sideNavWidth});
	margin-left: calc(1rem + #{$sideNavWidth});
	display: flex;
	flex-direction: row;
	justify-content: center;
}
//Top navigation
#topNavigation{
	width: calc(100% - #{$sideNavWidth});
	margin-left: $sideNavWidth;
	padding: 1.2rem 1.5rem;
	padding-right: 2.5rem;
	color: #4D4F5C;
	// box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.15);
 //    -moz-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.15);
 //    -webkit-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.15);
 //    -o-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.15);
 //    -ms-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    font-size: .775rem;
    background-color: transparent;
    z-index: 1000;
}
#topNavigation .align{
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.searchField
{
	min-width: 420px;
	letter-spacing: 0px;
	background-color: rgba(177,177,206,.1);
	color: $SecondColor;
	border-radius: 25px;
	border: none;
	padding-left: 1.5rem;
	font-size: .85rem;
}
#topNavigation .clickable
{
	display: inline;
	padding: .675rem .8rem;
	font-size: .8rem;
	border-radius: 5px;
	background: #fff;
}
// #topNavigation form{
// 	border: 1px solid #ddd;
// 	border-radius: 2rem;
// 	padding: 8px 20px;
// 	width: 25%;
// 	margin-left: calc(70px - 1rem);
// 	font-size: .775rem;
// 	color: $white;
// 	height: 80%;
// }
#topNavigation input{
	width: 100%;
}
#topNavigation input::placeholder{
	font-weight: lighter;
	letter-spacing: 2px;
	color: $SecondColor;
}
#topNavigation .items
{
	align-self: center;
}
#topNavigation .item
{
	color: #fff;
	padding: 0.45rem 0.9rem;
	text-align: center;
}
#topNavigation .active { border: 1px solid #fff; border-radius: 25px; }
#topNavigation .icon{
	color: $MainColor;
	// width: 15px;
	height: 15px;
	stroke: currentColor;
	stroke-width: 2;
	stroke-linecap: round;
	stroke-linejoin: round;
	fill: none;
}

.icon-white{
	color: #fff;
	// width: 15px;
	height: 15px;
	stroke: currentColor;
	stroke-width: 2;
	stroke-linecap: round;
	stroke-linejoin: round;
	fill: none;
}



//Side navigation
#sideNavigation
{
	max-width: $sideNavWidth;
	width: $sideNavWidth;
	padding: 1rem;
	background-color: #fff;
	height: 100vh;
	position: fixed;
}
#sideNavigation .items
{
	width: 100%;
	padding-top: calc(1.2rem + 0.8rem + 5%);
	margin-top: 5%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
#sideNavigation .items a{
	padding: .675rem 1.5rem;
	font-size: .8rem;
	border-radius: 8px;
	color: $MainColor;
	&:hover{
		text-decoration: none;
	}
}
#sideNavigation .items .icon{
	float: right;
	color: $SecondColor;
	// width: 15px;
	height: 15px;
	stroke: currentColor;
	stroke-width: 2;
	stroke-linecap: round;
	stroke-linejoin: round;
	fill: none;
}
#sideNavigation .items .active{
	background-color: $PrimaryColor;
	color: #fff !important;
}
#sideNavigation .footer{
	align-self: flex-end;
	position: absolute;
	bottom: 1rem;
}
#sideNavigation .footer .btn{
	margin: 0 auto;
}
//labels
.bg-label{
	display: inline-block;
	border-radius: 25px;
	font-size: 80%;
	font-weight: 400;
	line-height: 1;
	padding: .4rem .6rem;
	text-align: center;
	vertical-align: baseline;
	white-space: nowrap;
}
.bg-label-primary{
	background-color: #5e72e4;
	color: rgba(255,255,255,.8);
}
.bg-label-danger{
	background-color: #e3342f;
	color: rgba(255,255,255,.8);
}
.bg-label-success{
	background-color: #2dce89;
	color: rgba(255,255,255,.8);
}
.bg-label-warning{
	background-color: #FCA311;
	color: rgba(255,255,255,.8);
}
.bg-label-main{
	background-color: #30323D;
	color: rgba(255,255,255,.8);
}

//cards
.card{
    margin-right: 30px;
    margin-bottom: 30px;
    border: 0;
    box-shadow: 0 0 2rem 0 rgba(136,152,170,.15);
    position: relative;
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    border-radius: .475rem;
    background-color: #fff;
}
.card-header{
    margin-bottom: 0;
    padding: 1.25rem 2rem;
    border-bottom: 1px solid rgba(0,0,0,.05);
    background-color: #fff;
}
.card-body{
	padding: 1.25rem 2rem;
}
.card-header h2{
	font-size: 1.125em;
	padding: 0.4rem 1.30rem;
	padding-left: 0;
	margin-bottom: 0;
}
.card .big{
	min-width: 70%;
}
.card-form{
	max-width: 80%;
	margin: 0 auto;
}
.card-form .actionButtons{
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.info .card-header{
	border-bottom: none !important;
	padding-bottom: 0.1rem;
}
.info .card-header h2{
	font-size: 0.8em;
}
.info .card-body span{
	font-size: 0.750em;
}
//table design
.table{
	border-collapse: collapse;
	font-size: 0.813em;
}
.table
{
	th{
		border-top: 0;
		border-bottom-width: 1px;
		padding-top: .5rem;
		padding-bottom: .5rem;
	}
	thead
	{
		text-transform: uppercase;
		border:none !important;
    	background-color: #F5F6FA;
    	color: #A3A6B4;
	}
	td, th
	{
		vertical-align: middle;
	}
}
.table tbody{
	color: #4D4F5C;
}
.table-body{
	background-color: transparent;
	border-collapse: collapse;
    	border-radius: 2px;
    	border-spacing: 0;
    	max-width: 100%;
    	width: 100%;
}

.table-body td, th{
    	background-color: transparent;
    	padding: .5rem;
}


.dataTables_wrapper{
  thead{
    .sorting{
      position: relative;
      &:after{
        position: absolute;
        right: 0;
        bottom: 5px;
        content: "\e92d";
        font-family: 'feather' !important;
      }
      &:before{
        position: absolute;
        right: 0;
        top: 5px;
        content: "\e930";
        font-family: 'feather' !important;
      }
    }
    .sorting_desc{
      position: relative;
      &:after{
        position: absolute;
        right: 0;
        bottom: 5px;
        content: "\e92d";
        font-family: 'feather' !important;
      }
    }
    .sorting_asc{
      position: relative;
      &:after{
        position: absolute;
        right: 0;
        top: 5px;
        content: "\e930";
        font-family: 'feather' !important;
      }
    }
  }
  .dataTables_length{
    margin: 1rem 1.5rem;
    float: left;
    select{
      @extend .form-control, .custom-select;
      width: auto;
      display: inline-block;
      margin: 0 0.2rem;
    }
  }
  .dataTables_filter{
    float: right;
    margin: 1rem 1.5rem;
    text-align: right;
    input{
      @extend .form-control;
      width: auto;
      margin-left: 0.2rem;
      display: inline-block;
    }
  }

  .dataTables_paginate {
    float: right;
    text-align: right;
    margin: 1rem 1.5rem;
    .paginate_button{
      margin: 0 0.2rem;
      @extend .btn, .btn-secondary;
      &.current{
        @extend .btn, .btn-primary;
      }
    }
  }
  .dataTables_info {
    clear: both;
    float: left;
    margin: 1rem 1.5rem;
    line-height: 38px;
  }
}
//breadcrumbs
.breadcrumb
{
	background: transparent;
	padding-left: 0;
	padding-top: .35rem;
}

//alerts
.alert-centered
{
	text-align: center !important;
}

.alert-success
{
	background-color: $SuccessColor;
	color: rgba(255,255,255,0.8);
}
.alert-danger
{
	background-color: $DangerColor;
	color: rgba(255,255,255,0.8);
}
.alert-warning
{
	background-color: $WarningColor;
	color: rgba(255,255,255,0.8);
}
.alert-primary
{
	background-color: $PrimaryColor;
	color: rgba(255,255,255,0.8);
}

//Sweet alert styles
.swal2-container
{
	font-family: 'Nunito', sans-serif !important;
}
.swal2-title
{
	color: $MainColor !important;
}
.swal2-progress-step, .swal2-progress-step-line
{
	background-color: $MutedColor!important;
	color: $white !important;
}
.swal2-progress-step-line
{
	background-color: rgba($MutedColor, 0.5) !important;
}
.swal2-active-progress-step
{
	background-color: $PrimaryColor !important;
}

//other
.bottomAction
{
	position: fixed;
	bottom: 2rem;
	right: 2.5rem;
}
